@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background: rgb(4, 2, 2);
    background: radial-gradient(circle, rgba(4, 2, 2, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(3, 12, 18, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(16, 76, 115, 1) 0%, rgba(0, 131, 214, 1) 0%, rgba(21, 100, 151, 1) 0%, rgba(25, 115, 173, 1) 0%, rgba(22, 103, 155, 1) 14%, rgba(19, 88, 132, 1) 44%, rgba(13, 61, 91, 1) 59%, rgba(7, 31, 46, 1) 75%, rgba(0, 0, 0, 1) 92%);
}

body,
input,
textarea,
button {
    font: 400 1rem Inter, sans-serif;
    color: #808080;
}

h1 {
    font-size: 2.5rem;
    font: 700;
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: Lexend, sans-serif;
    color: #494d4b;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.modalContent,
.secondModal img {
    width: 15rem;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-self: center;
}

.modalContent,
.secondModal form {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.modalContent,
.secondModal form label {
    display: flex;
    align-items: flex-start;
    margin: 15px 0;
    color: #1c1c1c;
}

.modalContent,
.secondModal form button {
    margin-top: 25px;
}


.secondModal h1 {
    text-align: center;
    margin: 4rem 0 0 0;
}


.secondModal span {
    display: block;
    text-align: center;
    color: #1c1c1c;
    font-size: 15px;
    margin: 20px 0;
}